@import "tailwindcss";

@theme {
    --color-gray-200: #EEEEEE;
    --color-gray-400: #AAAAAA;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/font/NanumBarunGothic.woff2');
}

body {
    font-family: 'NanumBarunGothic', '돋움';
}

.fas {
    font-weight: 900;
    font-size: 0.9em;
}